
.chart-plot-background {
    -fx-background-color: #27292b;
    -fx-background-radius: 5px;
    -fx-border-color: dimgrey;
    -fx-border-radius: 5px;
}

.axis-label {
/*this sets the axis label*/
-fx-fill: lightgrey;
}

.axis {
/*this sets the tick label*/
-fx-tick-label-fill: lightgrey;
}

.chart-legend-item .text{
/*this sets the dataset name in the legend*/
-fx-fill: lightgrey;
}

.chart-legend {
    -fx-background-color: #323538;
    -fx-background-radius: 3px;
    -fx-border-color: #3f4347;
    -fx-border-radius: 3px;
}

.chart-crosshair-path {
    -fx-stroke: gold;
}

.chart-crosshair-label {
    -fx-text-fill: #f5e071;
}

.chart-zoom-rect {
    -fx-fill: #f6e68b;
    /*-fx-stroke: rgba(151, 114, 0, 0.96);*/
    /*-fx-stroke-type: inside;*/
    -fx-stroke-width: 0.0;
    -fx-opacity: 0.2;
}
